#image{
  max-width: 100%;
  height: auto;
  display:block
}

img{
  margin:auto auto;
}

#main{
  margin: 4em 5px 5px 5px;
  background-color: #f3f4f5;
  border-radius:2px;
}

body{
  background-color: #f3f4f5;
  font-family:  Arial;
}

#tribute-info div{
  display:block;
  background-color: #fffff9;
}

figure, figcaption{
  margin-top:20px;
  text-align:center;
}

div div{
  padding:17px;
  margin-bottom:10px 0;
}
h1,a {
  text-align:center;
}

blockquote{
  margin:20px;
  text-align:right;
  display:block;
}

h2{
  margin: 4rem 0 3rem 0;
  text-align:center;
}

 div div img{
  margin: 20px;
}

div div{
  display:block;
}

div > h3{
  font-weight:bold;
  font-size: 1.5rem;
  text-align:center;
}

div > p:before{
  content:'~';
  font-size:1.6rem;
}

div > p + p{
font-family: georgia;
}

@media (min-width:500px){
  body{
    max-width:75vw;
    margin:auto auto;
  }
}


@media (min-width:1050px){
  body{
    max-width:75vw;
    margin:auto auto;
  }

  div div img{
    display:block;
    width: 300px;
    height: 300px;
    object-fit:cover;
    margin-right: 20px;
    transform: translateX(350px);
    
  }



  
}
